<div id="root"
     data-view="settings"
     data-user-is-admin="<%= current_user.admin? %>"
     data-user-email="<%= current_user.email %>"
     data-settings-site-name="<%= Setting.get('site_name') %>"
     data-settings-notifications="<%= Setting.get('notifications_enabled') %>"
     data-settings-mimes="<%= Setting.get('allowed_mimes') %>"

     <%# --- NEW STORAGE ATTRIBUTES --- %>
     data-active-provider="<%= @active_provider %>"
     data-all-configs='<%= raw @all_configs.to_json %>'

     <%# Wrap the value in single quotes and remove the extra inner single quotes %>
     data-system-apps='<%= raw @system_apps.map { |app|
          {
            id: app.id,
            name: app.name,
            uid: app.uid
          }
     }.to_json %>'>
</div>